.GenreButton{
    width: 100%;
    height: 15rem;
    border-radius: 7px;
    background-color: #283655;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: 0px none transparent;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-image: url("https://s3-storage.textopus.nl/wp-content/uploads/2018/03/05134926/apple-music-muzieknoot-neon-512x324.jpg");
    background-size: 100% 100%;
    
}

.GenreButton:hover{
    transition: 0.3s all ease-in-out;
    background-color: rgb(0, 0, 185);
    box-shadow: inset 0 0 0 2000px rgba(40, 54, 85, 0.919);
}

.GenreButton:hover .GenreTitleContainer{
    transform: translateY(0rem);
    transition: 0.3s all ease-in;
}

.GenreTitleContainer{
    transform: translateY(5.4rem);
    transition: 0.3s all ease-in;
}

.GenreTitle{
    padding-top: 1rem;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
}

#ModalGenreTitle{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
}

.GenreImage{
    width: 100%;
    margin-left: 0px;
    height: 15rem;
    border-radius: 7px 7px 7px 7px;
}

.GenresModalBody{
    background-color: #283655;
    width: 30rem;
    height: fit-content !important;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 15px;
    padding-bottom: 2rem;
}

#ModalGenreDescription{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}