

.bod{
    height: 100%;
    display: flex;
    align-items: center !important;
}

.card{
    height: 14rem;
    width: 10rem;
    background-color: rgba(0, 0, 0, 0.616);
    border: 1px transparent solid;
    border-radius: 5px;
}

.im{
    grid-area: im;
    width: 3rem;
    height: 3.5rem;
    
}

.tx{
    grid-area: tx;
    text-align: center;
    justify-content: center;
    color: white;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "tx1" "tx2";
}

.tx1{
    grid-area: tx1;
    font-size: 18px;
}

.tx2{
    grid-area: tx2;
    font-size: 11px;
}


