

.bod{
    height: 100%;
    display: flex;
    align-items: center !important;
}

.card{
    display: flex;
    height: 15rem;
    width: 11rem;
    background-color: rgba(0, 0, 0, 0.651);
    border: 1px transparent solid;
    border-radius: 5px;
}

.card:hover{
    background-color: rgba(0, 0, 0, 0.829);
    cursor: pointer;
    transition: 0.2s all ease-in;
}

.r1{
    height: 1rem;
}

.r2{
    height: 7rem;
    border-radius: 5px;
    image-rendering: auto;
}
.r3{
    display: flex;
    left: 0%;
    right: 0%;
    justify-items: center;
}

.titles{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.disc{
    font-family: 'Times New Roman', Times, serif;
    font-weight:normal;
    font-size: 14px;
    color: white;
}

.rate{
    font-family: 'Times New Roman', Times, serif;
    font-weight:lighter;
    font-size: 14px;
    color: white;
}

