.not-splash {
  display: flex;
  color: white;
  max-width: 1020px;
  margin: 0 auto;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 100px;
}

.song-left-col {
  width: 50%;
  position: relative;
  padding: 20px;
  padding-left: 30px;
  white-space: pre-line;
  font-size: 1.25em;
  line-height: 1.7em;
  max-height: 100vh;
  overflow-y: scroll;
}

.song-right-col {
  position: relative;
  width: 50%;
  max-width: 400px;
  height: 400px;
  white-space: pre-line;
}

.lyrics,
.ghost-lyrics {
  position: absolute;
  max-width: 100%;
  padding-bottom: 10px;
  color: white !important;
}
.lyrics a,
.ghost-lyrics a {
  position: relative;
  display: inline;
  background-color: #e6e6e6;
  color: rgb(0, 0, 0);
  z-index: 1;
}

.lyrics a:hover,
.ghost-lyrics a:hover {
  background: #778f8e;
  cursor: pointer;
}

.lyrics a.selected-annotation,
.ghost-lyrics a.selected-annotation {
  background: #ffff64;
}

.ghost-lyrics {
  z-index: 1;
  color: transparent;
}

.annotation-segment {
  position: absolute;
  width: 85%;
}

#footer-annotation {
  position: fixed;
  bottom: 0;
  width: 100vh;
  white-space: pre-line;
  z-index: 2;
  height: 200px;
}

@media only screen and (max-width: 700px) {
  .song-left-col {
    width: 100%;
  }
  .song-right-col {
    width: 0%;
    display: none;
  }
}
@media only screen and (min-width: 701px) {
  #footer-annotation {
    display: none;
  }
}
