.not-splash {
  display: flex;
  color: white;
  max-width: 1020px;
  margin: 0 auto;
  text-align: left;
}

.song-left-col {
  width: 60%;
  position: relative;
  padding: 20px;
  padding-left: 30px;
  white-space: pre-line;
  font-size: 1.25em;
  line-height: 1.7em;
}

.song-right-col {
  position: relative;
  width: 40%;
  max-width: 400px;
  height: 400px;
  white-space: pre-line;
}

.lyrics,
.ghost-lyrics {
  position: absolute;
  max-width: 100%;
  padding-bottom: 10px;
}
.lyrics a,
.ghost-lyrics a {
  position: relative;
  display: inline;
  background-color: #e6e6e6;
  color: #222;
  z-index: 3;
}

.lyrics a:hover,
.ghost-lyrics a:hover {
  background: #074e4b;
  cursor: pointer;
}

.lyrics a.selected-annotation,
.ghost-lyrics a.selected-annotation {
  background: #ffff64;
}

.ghost-lyrics {
  z-index: 2;
  color: transparent;
}

.annotation-segment {
  position: absolute;
  width: 85%;
}
