.pgBdy{
    display: flex;
    margin-top: 7rem

}

.cardsPosition{
    width: 90%;
    background-color: rgb(0, 88, 110);
    border-radius: 10px;
    min-height: 30rem;
}

.genrepr{
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}