.CarouselContainerTemplate{
    background-color: rgba(0, 0, 0, 0.397);
    display: flex;
    width: 100%;
    height: fit-content; justify-content: center;
    align-items: center;
}

.CarouselTemplate{
    width: 90%;
    height: 100%;
    color: white;
}

