.CarouselContainerTemplate{
    display: flex;
    width: 100%;
    height: fit-content; justify-content: center;
    align-items: center;
}

.CarouselTemplate{
    width: 90%;
    height: 100%;
    color: white;
}

.Cells{
    padding-left: 1rem;
    padding-right: 1rem;
}

