.commentCont {
  max-height: 80vh;
  overflow: auto;
  text-align: left;
  color: aliceblue !important;
}

#commentDiv {
  width: 100% !important;
}
.ui.comments .comment .avatar img,
.ui.comments .comment img.avatar {
  border-radius: 50px !important;
}
#AddComment {
  margin: 0px !important;
  color: aliceblue !important;
  background-color: transparent;
  border-color: rgb(48, 43, 61);
}

#AddCommentContainer {
  margin: 20px 0px 10px 0px !important;
  padding: 0px !important;
}

#CommentLogin {
  border: 1px solid rgb(48, 43, 61);
  color: aliceblue;
  padding: 10px;
  margin: 20px 0px 20px 0px;
}

#hidden {
  display: none;
}

#commentContainer2 {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
  min-width: 100% !important;
  text-align: left;
  color: aliceblue !important;
}

@media only screen and (max-width: 700px) {
  #annotation-prompt {
    background-color: rgba(2, 2, 2, 1) !important;
    z-index: 2;
    justify-content: end;
  }
  #commentsContainer {
    background-color: rgba(2, 2, 2, 1) !important;
    z-index: 2;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
