.containerBody{
    display: flex;
    border-radius: 6px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    background-color: red;
}



.containcells{
    display: flex;
    align-items: center;
    justify-items: center;
    color: white;
    font-size: 26px;
    align-content: center;
    justify-content: center;
    justify-self: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.CardContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20rem;  
    margin-top: 1rem;
    margin-bottom: 1rem;  
}