.Contain{
    width: 80%;
    min-height: 70rem;
    background-color: rgba(0, 0, 53, 0.4);
}
.rowOne{
    height: max-content;
    margin-top: 4.5rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    background-color: aqua;
    padding-bottom: 1rem;
}

.proData{
    border-radius: 10px;
    width: 78%;
    padding-bottom: 2rem;
    padding-top: 2rem;
    max-height: fit-content;
}

.colone{
    display: flex;
    background-color: transparent;
    min-height: 20rem;
    justify-content: center;

}

.titlecomment{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
.coltwo{
    background-color: transparent;
    min-height: 50rem;
    display:flexbox;
    justify-content: center !important;
}



.topContain{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width:96.5%;
    display: flex;
}

.leftContain{
    width: 95%;
    margin-top: 1rem;
    border-radius: 10px;
    display: block;
}

.rightContain{
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.575);
    width: 95%;
    border-radius: 10px;
    height: min-content;
    margin-left: 1rem;
}
.imgContainer{
    height: 15rem;
    width:15rem;
    background-color: transparent !important;
}

.topCol{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dataContainer{
    color:white;
    height: 85%;
    width: 90%;
    display: flex;
    justify-content: left;
}

.scoreContainer{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: left;
    margin-left: 0px;
}

.Picture{
    width: 100%;
    height: 100%;
    border-radius: 90px;
    object-fit: cover;
    border-radius: 500px !important;
}

.nameAndDesContainer{
    display:flex;
    align-items:flex-start;
    justify-items:left;
    padding-top: 3rem;
}

.NameContainer{
    display: flex;
    color: white;
    justify-content: left;
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 35px;
    
}

.DescriptionContainer{
    display: flex;
    justify-content: left;
    color: white;
    font-size: 16px;
    margin-top: 1rem;
    line-height: 20px;
}

.rowtwo{
    margin-top: 1rem;

}

.editP{
    position:relative;
    left: 90%;
    top: 0%;
    color: white;
    font-size: 15px;
    display:inline-flex;
}

.editPt{
    padding-left: 1rem;
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.signupDate{
    display:inline-flex;
    align-items:flex-end;
    justify-content: flex-end !important;
    color: white;
    font-size: 18px;
}

.FavoriteTitle{
    color: rgb(145, 145, 145);
    font-size: 25px;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    display: flex;
    justify-content: left;
}

.ratingPosition{
    width: 100%;
    height: fit-content;
}

.profileRatingContainer{
    padding: 0.5rem;
}