
.CardBody{
    border-bottom: 2px gray solid;
    display: flex;
    width: 100%;
    height: fit-content;
    color: black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.CardBody:hover{
    background-color: gray;
    transition: 0.3s all ease-in;
    cursor: pointer;
}


.imageContainer{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.textContainer{
    display: block;
    height: 100%;
    color: white;
}

.TrackTitle{
    font-size: 30px;
    color: white;

    margin-bottom: 0.8rem !important;
}

.TrackSinger{
    font-size: 20px;
    margin-top: 0px !important;
    margin-bottom: 0.8rem !important;
}

.TrackScore{
    font-size: 18px;
    margin-top: 0px !important;
    margin-bottom: 0.8rem !important;
}

.TrackRelease{
    font-size: 18px;
    margin-top: 0px !important;
    margin-bottom: 1rem !important;
}