.bod{
    border-right: 2px gray solid;
    border-left: 2px gray solid;
    display: grid;
    height: 200px;
    width: 170px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.bod:hover{
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,0.5998774509803921) 48%, rgba(2,0,36,0) 100%);
    transition:0.5ms all ease-in-out; 
    cursor: pointer;  
}


.slideItems{
    height: 300px;
    
    width: 100%;
}
