.FavoriteCartContainer{
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5 rem;
    min-height: 4rem;
    max-height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FavoritCard{
    border-radius: 8px;
    width: 100%;
    min-height: 4rem;
    max-height: 4rem;
    padding-top: 0.7rem !important;
    padding-bottom: 0.7rem !important;
    padding-left: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center !important;
    align-content: center !important;
}

.FavoritCard:hover{
    background-color: #4d648d;
    transition:0.3s all ease-in-out;
    cursor: pointer;
}

.FavoritCard:hover .ax{
   display: flex;
   transition:0.5s all ease-in-out;
}


.imagePosition{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.captionPosition{
    height: 100%;
    display: block;
    justify-content: left;
    padding-left: 3rem;
    align-items: center;
    padding-top: 0.2rem;
}

.scorePosition{
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.score{
    display: flex;
    justify-content: center;
    align-items: center;
}

.namePosition{
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.typePosition{
    color: white;
    font-size: 11px;
}

.imag{
    border-radius: 50px;
}

.removeB{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: transparent;
    border: 0px none transparent;
    background-image: "./x.png";
}

.removeB:hover{
    background-color: #1e1f26;
    transition: all 0.3s ease-in-out;
}

.ax{
    display: none;
}
