.bg-l {
  text-align: center;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
}

.input {
  width: 100%;
  background-color: #67e0d0;
  border-radius: 10px;
}

.text {
  color: #c5c6c7;
}
.form {
  padding: 30px 50px 40px 50px;
}
.custom-control-label {
  font-weight: 400;
  color: #c5c6c7;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  color: #c5c6c7;
  margin: 0;
}

.forgot-password a {
  color: #c5c6c7;
}

.signup-text,
.signup-text a {
  color: #c5c6c7;
  margin-top: 80px;
}

.signup-text a {
  color: #c5c6c7;
  margin-top: 80px;
}

.body-l {
  min-height: 100vh;
  font-weight: 400;
  font-family: sans-serif;
}

.body0l,
html,
.bg-l,
#root,
.outer {
  width: 100%;
  height: 100%;
}

.outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.inner {
  background: #1f2833;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  border-radius: 15px;
  transition: all 0.3s;
}

.outer .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.outer h3 {
  text-align: center;
  line-height: 1;
  padding-bottom: 20px;
}
@media only screen and (max-height: 700px) {
  .input {
    margin: 0px !important;
    height: auto !important;
  }
}

.padding {
  padding-top: 100px;
}

@media only screen and (orientation: landscape) {
  .padding {
    padding-top: 100px;
  }
}
@media only screen and (max-height: 900px) {
  .padding {
    padding-top: 40px;
  }
}

.bg-image {
  background-image: url("./Cover.jpg");
  filter: brightness(30%) grayscale(50%);
  height: 100vh;
  width: 100vmax;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
