.modalBut{
    border: 0ch none transparent !important;
    background-color: transparent;
    color: white;
    font-size: 17px;
    width: 100%;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.modalBut:hover{
    transition: all 0.5s ease-in;
    background: linear-gradient(90deg, rgba(156,156,156,0) 0%, rgba(245,245,245,0) 0%, rgba(47,0,119,1) 50%, rgba(15,4,4,0) 100%);
}

.modalTemplate{
    background-color: rgb(3, 3, 110);
    width: 45rem;
    height: 45rem !important;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 15px;
}

.ModalTitle{
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: white;
    width: 100%;

    padding-top: 1rem;
    padding-bottom: 0.6rem;
}

.ModalCardsContainer{
    width: 100%;
    height: 89%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-x: hidden;
    overflow-y: auto;

}

.rateContainer{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}