#navbar {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.bd{
  width: 100%;
  display: block;
  background-color: red;
}