body {
  justify-content: center;
  background-color: #000000;
}

.hpFContainer2 {
  background-color: #1e1f26;
  margin: 6% 10% 6% 10%;
  padding: 2% 2% 2% 2%;
  border-radius: 6px;
  justify-content: center;
  display: flex;
}

.avatarContainerB {
  position: relative;
}
.avatarContainerB :hover + #textBlock {
  opacity: 1;
}
#textBlock {
  opacity: 0;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.719);
  color: white;
  padding: 10px;
}
#textBlock:hover {
  opacity: 1;
}
#passwordcontainer {
  margin-top: 20px !important;
}

#hidden {
  display: none;
}

#PFChangePassword {
  margin: 20px !important;
  font-size: large;
  color: aliceblue;
}

#testCife {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  #testCife {
    width: 600px;
  }
}

.ChangePassword{
  height: 3rem;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items:flex-end;
  align-content: flex-end;
  padding-bottom: 1rem;
  width: 10rem;
}

.CPC{
  color: white;
  font-size: 16px;
}

#pashmDivider{
  width: 158% !important;
}