body {
  justify-content: center;
  background-color: #000000;
}

.hpFContainer2 {
  background-color: rgba(0, 0, 53, 0.4);
  margin: 6% 10% 6% 10%;
  padding: 2% 2% 2% 2%;
  border-radius: 6px;
  justify-content: center;
  display: flex;
}

.avatarContainerB {
  position: relative;
}
.avatarContainerB :hover + #textBlock {
  opacity: 1;
}
#textBlock {
  opacity: 0;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.719);
  color: white;
  padding: 10px;
}
#textBlock:hover {
  opacity: 1;
}
#passwordcontainer {
  margin-top: 20px !important;
}
