body {
}

#login {
  height: 100vh;
  display: flex;
  align-items: center;
}
.bg-img {
  background-image: url("../Components/Sign/Cover.jpg");
  filter: brightness(15%) grayscale(70%);
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}
