.CardBody {
  display: flex;
  background-color: rgba(83, 83, 83, 0.61);
  width: 70%;
  height: fit-content;
  color: black;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px gray solid;
  border-radius: 5px;
}

.CardBody:hover {
  background-color: gray;
  transition: 0.3s all ease-in;
  cursor: pointer;
}

.rows {
  display: flex;
  align-items: center;
}

.imageContainer {
  display: flex;
  background-color: transparent !important;
  height: 10rem;
  justify-content: center;
  align-items: center;
}

.textContainer {
  display: flex;
  height: 100%;
  color: white;
  align-items: center;
}

.img {
  margin-bottom: 0%;
  height: 10rem;
  background-color: transparent;
}

.title {
  font-size: 25px;
  color: white !important;
  text-overflow: ellipsis !important;
}

.SingerRate {
  font-size: 18px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.SingerDate {
  font-size: 18px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
