.Bod{
    display:inline-flex;
    align-items: center;
    width: 70%;
    background-color: rgba(34, 34, 34, 0.781);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 3px rgb(99, 99, 99) solid;
    border-radius: 5px;
    height: 8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.Bod:hover{
    transition: 0.4s all ease-in;
    background: rgb(156,156,156);
    background: linear-gradient(90deg, rgba(156,156,156,0) 0%, rgba(56,56,129,1) 0%, rgba(43,43,77,1) 25%, rgba(15,4,4,0.7483368347338936) 100%);
}

.Music{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 40px;
    border-right: 2px gray dotted;
}

.Artist{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 30px;
    border-right: 2px gray dotted;
}

.Year{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 20px;
    border-right: 2px gray dotted;
}

.Rate{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 35px;
    border-right: 2px rgb(128, 128, 128) dotted;
}