#cat {
  padding: 10px;
}

.ui.search > .results .result {
  color: aliceblue !important;
}

.ui.search > .results .result:hover {
  color: aliceblue !important;
  background-color: rgb(55, 71, 103) !important;
}

.name {
  color: aliceblue !important;
}
