.SearchTop {
  display: flex;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-size: cover;
  width: 85% !important;
  min-height: 15vh !important;
  justify-content: center;
  margin-top: 5rem;
  align-items: center;
  background-color: rgba(38, 0, 53, 0.4);
}


.bodyContain{
 
  margin-top: 2rem;
  background-color: rgba(0, 0, 53, 0.4);
  width: 85%;
}

.resultContainer{
  margin-top: 2rem;
  background-color:rgba(0, 0, 53, 0.4) ;
}

.totalContainer{
  justify-content: center;
}

.tabsContainer{
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.tabs{
  display: flex;
  margin-bottom: 2px;
  color: white;
  width: 100%;
  justify-content: center;
}

.tabs:hover{
  border-bottom: 2px solid blue;
  margin-bottom: 0px;
}

.tabsBody{
  background-color: transparent;
  color: black;
  min-height: 100%;
}
.titr {
  padding-top: 3rem;
  display: flex;
  font-size: 17px;
  justify-content: left;
  color: white;
}

.searchBar{
  margin-top: 3rem;
}

.ddContainer{

  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.dd{
  display: flex;
  justify-content: center;
  width: 100% !important;

}


.ddButton{
  width: 100% !important;
  border-radius: 20px;
  height: 2.6rem;
}

.ddMenu{

  display: flex;
  justify-content: center;
}

.ddList{
  width: 100%;

}

.ddinlist{
  width: 100%;
  display: flex;
  justify-content: center;
}

.badbakhti{
  height: fit-content;
  display: flex;
  justify-content: center;
}