.SearchTop {
  display: flex;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-size: cover;
  width: 85% !important;
  justify-content: center;
  margin-top: 5rem;
  align-items: center;
}

.bodyContain {
  margin-top: 2rem;
  display: flex;
  width: 85%;
  min-height: 100vh;
  margin-bottom: 2rem !important;
}

.resultContainer {
  margin-top: 2rem;
  background-color: rgba(0, 0, 53, 0.4);
  margin-bottom: 2rem !important;
}

.totalContainer {
  justify-content: center;
}

.tabsContainer {
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.tabs {
  display: flex;
  margin-bottom: 2px;
  color: white;
  width: 100%;
  justify-content: center;
}

.tabs:hover {
  border-bottom: 2px solid blue;
  margin-bottom: 0px;
}

.tabsBody {
  color: black;
  background-color: rgba(0, 0, 53, 0.4);
}
.titr {
  padding-top: 3rem;
  display: flex;
  font-size: 17px;
  justify-content: left;
  color: white;
}

#sag{
  width: 40rem;

}

.ddContainer {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 4rem;
}

.dd {
  display: flex;
  justify-content: center;
  width: 100% !important;
}

.ddButton {
  width: 100% !important;
  border-radius: 20px;
  height: 2.6rem;
}

.ddMenu {
  display: flex;
  justify-content: center;
}

.ddList {
  width: 100%;
}

.ddinlist {
  width: 100%;
  display: flex;
  justify-content: center;
}

.badbakhti {
  height: fit-content;
  display: flex;
  justify-content: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(48, 43, 61, 0.829) 100%
  );
}

.badbakhti2 {
  display: flex;
  justify-content: center;
}

#pagination {
  display: flex;
  color: white !important;
  justify-content: center;
  height: fit-content;
  padding: 20px;
}
.jojocontainer {
  height: auto;
  padding-bottom: 10px;
}
#loading {
  height: 100vh;
  background-color: rgba(0, 0, 53, 0.4);
}
#hidden {
  display: none;
}

.sagContainer{
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: fit-content;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.filterTabsContainer{
  background-color: rgb(41, 41, 41);
  border: 0ch none transparent !important;
  width: 100% !important;
  border-radius: 0.5rem;
  padding-left: 0px;
  padding-right: 0px;
}

.filterTabsKhodesh{
  width: 100%;
}

.filterTabsContainer:hover{
  background-color: rgb(41, 41, 41) !important;

}

.filtertabsB{
  background-color: rgb(61, 61, 61);
  display: flex;
  align-items: center !important;
  align-content: center !important;
  justify-content: center !important;
  justify-items: center !important;
  height: 2.7rem;
  border-radius: 2rem;
  width: 100%;
  justify-content: center !important;
  justify-items: center !important;
}