.right-part {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: auto; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #1f2833;
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  color: #c5c6c7;
  padding-left: 30px;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
}
.title {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  text-align: left;
}
#latest-music {
  margin-right: 30px;
  height: 40%;
  overflow-y: auto;
}

#favourite {
  margin-right: 30px;
  height: 40%;
  overflow-y: auto;
}

#search {
  height: 30%;
}
#listened-music {
  height: 30%;
}
#collection {
  height: 30%;
}

.bg {
  background-image: url("../Assests/back.jpg");
  width: 100%;
  height: 100%;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  overflow-x: hidden;
  color: #c5c6c7;
  padding-right: 210px;
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1f2833;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #45a29e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #45a29e;
}
