.BavanProfileRatingCardBdy{
    height:fit-content;
    width: 100%;
    border-bottom: 1px solid #4d648d;
}

.BavanProfileRatingCardBdy:hover{
    background-color:#4d648d;
    transition: all 0.3s ease-in-out;
    cursor:grab;
}

.BavanProfileRatingCardDtaContain{
    padding-left: 7% !important;
    padding-right: 7% !important;
}

.BavanProfileRatingCardImageContain{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-bottom: 0.2rem !important;
    padding-top: 0.2rem !important;
    
}

.BavanProfileRatingCardImag{
    width: 100%;
    height: 100%;
    border-radius:10px 10px 0px 0px;
}

.BavanProfileRatingCardTitleContain{
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    display:flex ;
    justify-content: center;
    align-items: center;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.BavanProfileRatingCardStarsContain{
    display:flex ;
    justify-content: center;
    align-items: center;
    padding-top: 0.2rem;
    padding-bottom: 0.4rem;
}