.CarouselContainerTemplate{
    display: flex;
    width: 100%;
    height: fit-content; justify-content: center;
    align-items: center;
}

.CarouselTemplate{
    background-color: rgba(109, 109, 109, 0.247);
    width: 80%;
    height: 100%;
    color: white;
}

.ArtistsCardContainer{
    background-color: rgb(0, 0, 0);
    height: 20rem;
    margin-left: 1rem;
    margin-right: 1rem;
}