.artistPageContainer {
  margin-top: 4.5rem;
}

.artistDataPosition {
  height: 100%;
  width: 100%;
  padding-left: 14%;
  padding-right: 0%;
  padding-top: 4rem;
  font-size: 40px;
}

.PartistDataPosition {
  height: 100%;
  width: 100%;
  padding-top: 4rem;
  font-size: 40px;
}

.bdyContainer {
  display: flex;
  justify-items: center;
  justify-items: center;
}

.bdyPosition {
  width: 80%;
  min-height: 100vh;
}

.imgContainer {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: rgba(2, 2, 2, 0.534);
}

.imgkhodesh {
  border: 5px solid white;
  border-radius: 500px;
}

.dataContainer {
  padding-left: 4rem;
  height: 100%;
  display: block;
  line-height: 3rem;
}

.PdataContainer {
  padding-left: 4rem;
  height: 100%;
  display: flex;
  line-height: 3rem;
  width: 100%;
}

.topf {
  margin-top: 2rem;
}

.titleContainer {
  color: white;
  width: 100%;
  font-size: 40px;
  font-weight: bolder;
}

.PtitleContainer {
  color: white;
  width: 100%;
  font-size: 27px;
  font-weight: bold;
}

.dateContainer {
  color: white;
  width: 100%;
  font-size: 20px;
  font-weight: bolder;
}

.followersContainer {
  color: white;
  width: 100%;
  font-size: 16px;
}

.genresContainer {
  color: white;
  width: 100%;
  font-size: 18px;
}

.imgflag {
  width: 6rem;
}


.followcontain {
  display: inline;
  padding-top: 0rem;
  padding-bottom: 0.5rem;
  width: 100%;
}
.Pfollowcontain {
  display: flex;
  justify-content: center;
  padding-top: 0rem;
  padding-bottom: 0.5rem;
  width: 100%;
}
.PimgContainer {
  background-color: transparent;
  padding-left: 4rem;
}

.pfol {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.folp {
  width: max-content;
  align-items: center;
  display: inline-flex;
}

.StarsContainP {
  display: flex !important;
  justify-content: center !important;
  justify-items: center !important;
  width: 100%;
  height: 3rem;
}

.testo {
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testt {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.tests {
  background-color: transparent;
}
