
.CardBody{
    border-bottom: 2px gray solid;
    display: flex;
    width: 80%;
    height: fit-content;
    color: black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.CardBody:hover{
    background-color: gray;
    transition: 0.3s all ease-in;
    cursor: pointer;
}


.imageContainer{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.textContainer{
    height: 100%;
    color: white;
    
}