.containerAC {
  position: relative;
  color: white;
  text-align: center;
}

.centered {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding: 10px;
  width: 200px;
  padding: 15px;
}

.image {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}
.containerAc :hover {
  filter: sepia(100%) hue-rotate(190deg) saturate(500%);
  transition: 0.3s all ease-in;
  cursor: pointer;
}
@keyframes example {
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
}
