body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(8, 13, 20, 1) 35%,
    rgba(33, 37, 43, 1) 100%
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.nav {
  height: max-content;
}

.Tops {
  border-radius: 5px;
  min-height: 45rem;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  display: block;
  justify-content: center;
}

.slideBar {
  margin-top: 2px;

  margin-bottom: 1rem;
  min-height: 16rem;
  border-top: 2px gray solid;
  width: 94% !important;
  background: rgb(156, 156, 156);
  background: linear-gradient(
    90deg,
    rgba(156, 156, 156, 0) 0%,
    rgba(56, 56, 129, 1) 44%,
    rgba(58, 58, 133, 1) 56%,
    rgba(136, 136, 136, 0) 100%
  );
}
.slideContainer {
  justify-content: center;
  width: 100% !important;

  padding-top: 2rem;
  text-align: left;
}

.titr {
  color: white;
  margin-left: 5%;
}

.Foot {
  min-height: 10rem;
  background-color: black;
  border-top: 4px white solid;
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
  color: aliceblue;
  text-align: center;
}

.titles {
  margin-top: 30px;
  font-size: 28px;
  color: white;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1920px;
  }
}
